<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to our video collection!</h1>
    <ul>
        {{#videos}}
        <li>{{name}}</li>
        {{/videos}}
    </ul>
    <form action="/new-video" method="post">
    <input type="text" name="name">
    <button type="submit">Submit</button>
    </form>
</body>
</html>
